:root {
    --background: rgb(54, 52, 52);
    --background-ul: rgba(255, 255, 255, 0.2);
    --food-title: rgba(219, 58, 52, 1);
    --food: rgba(255, 255, 255, 1);
    --food-desc: rgba(255, 255, 255, 0.7);

}

* {
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: vazirmatn;
}

.container {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

#food {
    /* margin-top: -18px; */
    padding: 0;
    background-color: var(--background);
}

#food h2 {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: var(--food-title);
    padding: 20px 0 10px;
}

#food ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#food ul li {
    margin: 10px;
    background-color: var(--background-ul);
    border-radius: 12px;
}

#food ul .item {
    /* display: flex; */
    padding: 4px 5px;
}

#food .item div {
    padding: 0 10px;
}

#food .item div p:nth-child(1) {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: var(--food);
}

#food .item div p:nth-child(2) {
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: var(--food-desc);
    width: 231px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#food .item div div {
    /* display: flex; */

    padding: 0;
    margin: 0;
    justify-content: end;
    align-items: center;
}

#food .item div div div {
    /* display: flex; */
    padding: 0;
    margin-right: 2px;
    flex-direction: column;
    align-items: start;
}

#food .item .price {
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    color: var(--food);
}

#food .item .currency1 {
    font-weight: 700;
    font-size: 8px;
    line-height: 100%;
    color: var(--food);
}

#food .item .currency2 {
    font-weight: 700;
    font-size: 8px;
    line-height: 100%;
    color: var(--food);
}

@media (width>=1000px) {
    .container {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    body{
        background-color: var(--background);

    }

    #food h2 {
        text-align: start;
        font-weight: 900;
        font-size: 32px;
    }

    #food ul li {
        margin: 0;
    }

    #food ul .item {
        flex-wrap: wrap;
    }

    .main-wrapper {
        display: flex;
        justify-content: start;
        align-items: start;
        padding-top: 70px;
        border: 2px solid white;
    }

    #food {
        flex-grow: 1;
    }

    #menu {
        display: flex;
        width: 20%;
        padding-top: 65px;        
    }

    .horizontal-menu{
        flex-direction: column;
    }

    .box-items-menu{
        width: 100%;
 
    }
}


header{
    background-color: rgba(255, 200, 87, 1);
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
  }
  
  .logo{
    width: 100%;
    width: 42px;
  }
  
  .horizontal-line{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 0.5px;
  }
  
  .horizontal-menu{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color:  rgba(255, 200, 87, 1);
    margin-top: 0;
    padding: 10px 5px;
    overflow-x: auto;
    margin-bottom: 0;
  }
  
  .box-items-menu{
    /* width: 60px; */
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 0;
    flex-direction: column;
  }
  
  .box-items-menu img {
    /* width: 30px; */
    height: 30px;
    margin-bottom: 5px; 
  }
  
  .horizontal-menu li{
    margin: 0 5px;
   
  }
  .name-food{
    /* width: 60px; */
    height: 10px;
    font-family: 'vazirmatn';
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    color: rgba(0, 0, 0, 1);
    margin: 0;
    padding: 0;
  }